<?xml version="1.0" encoding="utf-8"?>

<!-- 
#  
# Title:
#  Open Source Lunar Rover (OSLR) - Main model
#
# Author(s):
#   andyjak
#
# Version:
#   0.0.1, 08/2023
#
# Purpose:
#   Main model that can be used for simulation.
#
# Notes:
#   Include this file in a launch file in order to spawn the model.
#
# Test setup:
#   - ROS Noetic
#   - Ubuntu, 20.04 LTS
#   - Python 3.8.10
#
# References:
#   References are listed in the README.
#   Comments that include a [number] refers to the index in the reference list.
#
-->

<robot
  xmlns:xacro="http://ros.org/wiki/xacro"
  name="oslr">

  <!-- Load parameter values from file (only needs to be done once) -->
  <xacro:property name="yaml_file" value="$(find oslr_config)/config/oslr_parameters.yaml" />
  <xacro:property name="yaml_dict" value="${xacro.load_yaml(yaml_file)}"/>

  <!-- Load rover model components -->
  <xacro:include filename="$(find oslr_description)/urdf/oslr_base.xacro"/>
  <xacro:include filename="$(find oslr_description)/urdf/oslr_rockerbogie.xacro"/>
  <xacro:include filename="$(find oslr_description)/urdf/oslr_wheels.xacro"/>
  <xacro:include filename="$(find oslr_description)/urdf/oslr_navcam.xacro"/>

  <!-- Load Gazebo plugin for ROS control -->
  <xacro:macro name="controller_plugin_gazebo" params="robot_namespace:=''">
    <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
          <robotNamespace>/</robotNamespace>
      </plugin>
    </gazebo>
  </xacro:macro>
  <xacro:controller_plugin_gazebo />
  
</robot>
