<?xml version="1.0" encoding="utf-8"?>

<!-- 
#  
# Title:
#  Open Source Lunar Rover (OSLR) Model
#
# Author(s):
#   andyjak
#
# Version:
#   0.0.1, 08/2023
#
# Purpose:
#   Main model of OSLR.
#
# Notes:
#   Include this file in the launch file in order to spawn it.
#
# Test setup:
#   - ROS Noetic
#   - Ubuntu, 20.04 LTS
#   - Python 3.8.10
#
# References:
#   ...
#
-->

<robot
  xmlns:xacro="http://ros.org/wiki/xacro"
  name="oslr">

  <!-- Load parameter values from file (only needs to be done once) -->
  <xacro:property name="yaml_file" value="$(find oslr)/config/oslr_parameters.yaml" />
  <xacro:property name="yaml_dict" value="${xacro.load_yaml(yaml_file)}"/>

  <!-- Load rover model components -->
  <xacro:include filename="$(find oslr)/urdf/oslr_base.xacro"/>
  <xacro:include filename="$(find oslr)/urdf/oslr_rockerbogie.xacro"/>
  <xacro:include filename="$(find oslr)/urdf/oslr_wheels.xacro"/>
  <xacro:include filename="$(find oslr)/urdf/oslr_navcam.xacro"/>

  <!-- Load Gazebo plugin for ROS control -->
  <xacro:macro name="controller_plugin_gazebo" params="robot_namespace:=''">
    <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
          <robotNamespace>/</robotNamespace>
      </plugin>
    </gazebo>
  </xacro:macro>
  <xacro:controller_plugin_gazebo />
  
</robot>
