<?xml version="1.0" encoding="utf-8"?>

<!-- 
#  
# Title:
#  Open Source Lunar Rover (OSLR) - Gazebo launch
#
# Author(s):
#   andyjak
#
# Version:
#   0.0.1, 08/2023
#
# Purpose:
#   Starts the simulation.
#
# Notes:
#   Run in a terminal: roslaunch oslr_gazebo main.launch
#
# Test setup:
#   - ROS Noetic
#   - Ubuntu, 20.04 LTS
#   - Python 3.8.10
#
# References:
#   References are listed in the README.
#   Comments that include a [number] refers to the index in the reference list.
#
-->

<launch>

  <!-- Load parameter values from parameter file -->
  <rosparam file="$(find oslr_config)/config/oslr_parameters.yaml" command="load" />
  
  <!-- Load the Gazebo world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false" />
  </include>

  <!-- Spawn the robot into Gazebo -->
  <param name="robot_description" command="$(find xacro)/xacro $(find oslr_description)/urdf/oslr.urdf.xacro" />
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description
              -urdf
              -model oslr"/>

  <!-- Start the OSLR nodes -->
  <include file="$(find oslr_bringup)/launch/oslr_robot.launch"></include>
	
</launch>
	
